extends layout

block content
  h1  Crop VS Fertilizer Details
  form(action='users/process' method='POST')  
    |Customer Name: 
    input(type='text' name='name')    
    br
    |Fertilizer Name: 
    input(type='text' name='fname')    
    br
    |Address:
    input(type='text' name='address')
    br
    |Contact:
    input(type='number' name='contact')
    br
    input(type='submit' value='Pay on Delivery')

  

