extends layout

block content
  h1= title
  p Welcome to #{name}
  p.greetings#people This is a Crop Mangement Purchasing System!
  div
   | Proceed to https://localhost:3001/form for purchase of fertilizer.
   
   
  
